*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
}
body{

}
.firstSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    gap: 50px;
}
.firstLeft{
background: #54A6FF;
width: 600px;
height: 400px;
padding: 50px;
position: relative;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 30px;
color: white;
border-radius: 10px;
background-image: url(BG.png);

}
.firstLeft img{
    width: 400px;
    position: absolute;
    left: 100px;
    bottom: 10px;

}
.firstLeft h2{
    font-size: 34px;
}
.firstLeft p{
    font-size: 20px;
}
.firstLeft button{
border: none;
padding: 10px;
border-radius: 5px;
background: #3563E9;
color: white;
}
.firstRight{
    background: #3563E9;
    width: 600px;
    height: 400px;
    padding: 50px;
    position: relative;
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 30px;
color: white;
border-radius: 10px;
background-image: url(BG\ \(1\).png );
}
.firstRight img{
    width: 300px;
    position: absolute;
    left: 150px;
    bottom: -10px;
}
.firstRight h2{
    font-size: 34px;
}
.firstRight p{
    font-size: 20px;
}
.firstRight button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: #54A6FF;
    color: white;
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.goydaire{
height: 10px;
    width: 10px;
    background:#3563E9 ;
    border-radius: 50%;
}
.section2-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 700px;
    padding: 30px;
}
.section2-center{
background:#3563E9 ;
padding: 10px;
border-radius: 5px;

}
.section2-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 700px;
    padding: 30px;
}
.section2-left-sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.section2-right-sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
pre{
    color: gray;
}
pre i{
    color: black;
}
.card img{
    width: 200px;
}
.section3{
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    height: 400px;
}
.cardHead{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.cardCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: gray;
}
.cardEnd{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.cardEnd button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background:#3563E9 ;
    color: white;
    cursor: pointer;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.mecburi{
    padding: 20px;
    border: none;
    border-radius: 5px;
    background:#3563E9 ;
    color: white;
    cursor: pointer;
}
@media only screen and (max-width: 1321px) {
    .firstSection{
        flex-direction: column;
    }
    .section2{
        flex-direction: column;
    }
    .cards{
        flex-direction: column;
    }
    .section2-left-sections{
        flex-direction: column;
    }
    .section2-right-sections{
        flex-direction: column;

    }
    .section2-left{
        width: 300px;
    }
    .section2-right{
        width: 300px;
    }
  }
  @media only screen and (max-width: 622px){
    .firstLeft{
        width: 300px;
        font-size: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .firstLeft h2{
        font-size: 20px;
    }
    .firstLeft p{
        font-size: 20px;
    }
    .firstRight h2{
        font-size: 20px;
    }
    .firstRight p{
        font-size: 20px;
    }
    .firstRight{
        width: 300px;
        font-size: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }
  }

.navbar{
    display: flex;
    align-items: center;
    height: 124px;
    padding-left: 60px;
    /* border: 1px solid black; */
}
.navbar__logo a{
    width: 148px;
    height: 44px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -3%;
    color: #3563E9;
}
.navbar__search{
    margin-left: 212px;
    border: 1px solid black;
    width: 429px;
    height: 44px;
    display: flex;
    align-items: center;
}
.navbar__search__logo{
    width: 24px;
    margin-left: 20px;
}
.navbar__search__input{
    border: none;
    outline: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 149px;
    height: 20px;
    margin-left: 10px;
    
}
.navbar__search__sliders{
    width: 24px;
    margin-left: 180px;
}
.navbar__profil{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 236px;
    padding-left: 800px;
}
.navbar__profil__like{
    width: 44px;
    color: #596780;
}
.navbar__profil__notifications{
    width: 44px;
    color: #596780;
}
.navbar__profil__settings{
    width: 44px;
    color: #596780;
}
.navbar__profil__picture img{
    width: 24px;
    border-radius: 50%;
}

@media only screen and (max-width: 1740px) {
    .navbar__profil{
        padding-left: 600px;
    }
  }
  @media only screen and (max-width: 1540px) {
    .navbar__profil{
        padding-left: 400px;
    }
  }
  @media only screen and (max-width: 1360px) {
    .navbar__profil{
        padding-left: 200px;
    }
  }
  @media only screen and (max-width: 1250px) {
    .navbar__profil{
        padding-left: 50px;
    }
    .navbar__search{
        margin-left: 112px;
    }
  }
  @media only screen and (max-width: 1010px) {
    .navbar__profil{
        padding-left: 10px;
    }
    .navbar__search{
        margin-left: 12px;
    }
  }
  @media only screen and (max-width: 910px) {
    .navbar__profil{
        padding-left: 10px;
    }
    .navbar__search{
        margin-left: 12px;
    }
    .navbar__profil__notifications{
        display: none;
    }
  }
  @media only screen and (max-width: 815px) {
    .navbar__profil{
        padding-left: 0px;
    }
    .navbar__search{
        margin-left: 20px;
    }
    .navbar__profil__notifications{
        display: none;
    }
    .navbar__profil__like{
        display: none;
    }
    .navbar{
        padding-left: 25px;
    }

  }
  @media only screen and (max-width: 726px) {
    .navbar__profil__settings{
        display: none;
    }
  }
  @media only screen and (max-width: 680px) {
    .navbar__logo{order: 1;}
    .navbar__profil{order: 2;}
    .navbar__search{order: 3;}
    .navbar{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .navbar__profil{
        width: 50px;
    }
    .navbar__search{
        width: 329px;
    }
  }

  .footer_container{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;

}

.footer_start{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 50px;
}
.footer_right{
    display: flex;
    justify-content: space-around;
    gap:   100px;
    margin-top: 60px;
    margin-left: 20px;
}
.footer_ul{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
    color: gray;
}
.footer_left h1{
    color: #3563e9;
}
.footer_left p {
    color: gray;
}
.footer_end{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
font-weight: bold;
     
}
.end_right{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
@media only screen and (max-width: 866px) {
    .footer_start{
        flex-direction: column;
    }
    .footer_right{
        flex-direction: column;
    }
  }